ALTER TABLE leads DISABLE ROW LEVEL SECURITY; ALTER TABLE white_label_configs DISABLE ROW LEVEL SECURITY; ALTER TABLE tenants DISABLE ROW LEVEL SECURITY; ALTER TABLE profiles DISABLE ROW LEVEL SECURITY; ALTER TABLE api_usage_logs DISABLE ROW LEVEL SECURITY;
